<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>GymTurn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-label position="floating">رمز عبور جدید</ion-label>
  <ion-item>
    <ion-input type="password" [(ngModel)]="newPassword"  required="true"></ion-input>
    <ion-icon item-left name="lock-closed-outline"></ion-icon>
  </ion-item>
  <ion-button expand="block" (click)="resetPassword()" color="success">اعمال تغییرات</ion-button>
</ion-card>
</ion-content>