<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>GymTurn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
  <ion-label >نام کاربری</ion-label>
  <ion-item>
    <ion-input [(ngModel)]="username" type="text" required="true"></ion-input>
    <ion-icon item-left name="person-outline"></ion-icon>
  </ion-item>
  <ion-button expand="block" (click)="sendResetLink()" color="success"> بازیابی رمز عبور</ion-button>
</ion-card>
</ion-content>
