<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>GymTurn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form   > <!-- (ngSubmit)="register()" -->
    <ion-card>
      <ion-label>نام و نام خانوادگی</ion-label>
      <span class="span1">{{ ErrorForUser }}</span>
      <ion-item>
        <ion-input type="text"
         name="user" [(ngModel)]="fullname_1" required="true" ></ion-input>
         <ion-icon item-left name="person-outline"></ion-icon>
        </ion-item>

  
      <ion-label>رمز عبور </ion-label>
      <span class="span1">{{ ErrorForPwd }}</span>
      <ion-item>
        <ion-input type="password" name="pwd" [(ngModel)]="pwd_1" ></ion-input>
        <ion-icon item-left name="lock-closed-outline"></ion-icon>
      </ion-item>
  
      <ion-label>سن</ion-label>
      <span class="span1">{{ ErrorForAge }}</span>

      <ion-item>
        <ion-input name="age" [(ngModel)]="age_1" type="tel"></ion-input>
        <ion-icon name="calendar-number-outline"></ion-icon>
      </ion-item>

      <ion-label>قد (سانتی متر)</ion-label>
      <span class="span1">{{ ErrorForHeight }}</span>
      <ion-item>
        <ion-input name="height" [(ngModel)]="height_1" type="tel"></ion-input>
        <ion-icon name="accessibility-outline"></ion-icon>
      </ion-item>
  
      <ion-label>وزن (کیلوگرم)</ion-label>
      <span class="span1">{{ ErrorForWeight }}</span>
      <ion-item>
        <ion-input name="weight" [(ngModel)]="weight_1" type="tel"></ion-input>
        <ion-icon name="speedometer-outline"></ion-icon>
      </ion-item>
  
      <ion-label>رشته ورزشی</ion-label>
      <span class="span1">{{ ErrorForSport }}</span>
      <ion-item>
        <ion-input name="sport" [(ngModel)]="sport_1" type="text"></ion-input>
        <ion-icon name="barbell-outline"></ion-icon>
      </ion-item>
  
      <ion-label>شماره موبایل</ion-label>
      <span class="span1">{{ ErrorForMobile }}</span>
      <ion-item>
        <ion-input name="mobile" [(ngModel)]="mobile_1" type="tel" ></ion-input>
        <ion-icon item-left name="call-outline"></ion-icon>
      </ion-item>

      <ion-label> ایمیل</ion-label>
      <span class="span1">{{ ErrorForEmail }}</span>
      <ion-item>
        <ion-input name="email" [(ngModel)]="email_1" type="email" ></ion-input>
        <ion-icon item-left name="mail-outline"></ion-icon>
      </ion-item>

      <ion-button  type="submit" size="full" color="success" (click)="sendData()" expand="block" shape="round">ثبت نام</ion-button>
    </ion-card>
  </form>
</ion-content>
